@import 'tailwindcss';

@font-face {
  font-family: 'DepartureMono';
  src: url('./assets/fonts/DepartureMono-Regular.otf');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}
